/* ==========================================================================
Config
========================================================================== */
@import "../../config";

:root {
  --tab-color: #09f;

  --tab-active-color: #ff7300;
  --tab-active-border-color: #ff7300;
}

/* Tabs
========================================================================== */
.tabs-list {
  border-bottom: 1px solid #999;
  display: flex;
  flex-direction: row;
  margin-bottom: 2.4rem;
}

.tabs-button {
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  color: var(--tab-color);
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  margin-bottom: -2px;
  padding: 1rem 2rem;
}

.tabs-button--active {
  border-bottom: 3px solid var(--tab-active-border-color);
  color: var(--tab-active-color);
}

/* Movies List
========================================================================== */
.moviesList {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

.moviesList-item {
  min-width: 13.5rem;
  max-width: 14.6rem;
}

.moviesList-item:first-child { margin-left: 0; }

/* Media Queries
========================================================================== */
@custom-media --tablet-viewport (min-width: var(--screen-tablet-portrait));

@media(--tablet-viewport) {
  .moviesList { justify-content: flex-start; }
  .moviesList-item { margin-left: 1rem; }
}
