/* ==========================================================================
Config
========================================================================== */
@import "../../config";

:root {
  --title-color: #fff;

  --tag-bg: #f90;
  --tag-color: #333;

  --close-color: #fff;
  --close-bg: #333;
}

/* Card
========================================================================== */
.card-link {
  display: block;
  position: relative;
  text-decoration: none;
}

.card-imageWrap {
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}

.card-title {
  color: var(--title-color);
  font-size: 1.6rem;
  min-height: 3.2rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}

.card-tagsList {
  background: linear-gradient(to bottom,rgba(33,33,33,0) 0,rgba(33,33,33,0) 1%,rgba(33,33,33,0.85) 80%);
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 6.5rem 0.5em 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-tagsList-item { display: none; }

.card-tagsList-tag {
  background-color: var(--tag-bg);
  color:var(--tag-color);
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.3rem 0.8rem;
  text-transform: uppercase;
  transform: skew(-10deg);
}

/* Trailer
========================================================================== */
.card-trailer {
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  bottom: 0;
}

.card-trailer-container {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
}

.card-trailer-videoWrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.card-trailer-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-trailer-link {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  left: 10px;
  top: -20px;
}

.card-trailer-close {
  background-color: var(--close-bg);
  border: none;
  color: var(--close-color);
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 10px;
  top: -20px;
}

/* Media Queries
========================================================================== */
@custom-media --tablet-viewport (min-width: var(--screen-tablet-portrait));

@media(--tablet-viewport) {
  .card-trailer-container {
    margin-left: -250px;
    margin-top: -140px;
    top: 50%;
    left: 50%;
    width: 500px;
  }

  .card-title {
    position: inherit;
    padding: 0;
  }
  .card-tagsList-item {
    display: inline-block;
    margin-bottom: 0.8rem;
  }

  .card-tagsList {
    background: linear-gradient(to bottom,rgba(33,33,33,0) 0,rgba(33,33,33,0) 1%,rgba(33,33,33,.85) 90%);
    height: auto;
  }
}
