/* ==========================================================================
APP Layout
========================================================================== */
@import "../../config";

/* Main
========================================================================== */
.main {
  margin: 0 auto;
  max-width: var(--screen-base);
  padding: 20px;
}
