/* ==========================================================================
Config
========================================================================== */
@import "../../config";

:root {
  --title-color: #fff;

  --checkbox-bg: #fff;
  --checkbox-checked-bg: #ff7300;
  --checkbox-checked-color: #fff;

  --text-color: #fff;
}

/* Filter
========================================================================== */
.filterList { margin: 1rem 0; }

.filterList-title {
  color: var(--title-color);
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.filterList-list {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: -2rem;
  overflow: hidden;
}

.filterList-item {
  margin-bottom: 2rem;
  min-width: 9rem;
  padding: 0 1rem;
}

.filterList-item:first-child { margin-left: 0; }

.filterList-label {
  display: flex;
  flex-direction: row;
}

.filterList-checkbox {
  background: var(--checkbox-bg);
  border-radius: 4px;
  display: inline-block;
  height: 20px;
  margin-right: 1rem;
  width: 20px;
}

.filterList-checkbox--checked {
  background: var(--checkbox-checked-bg);
  position: relative;
}

.filterList-checkbox--checked:before,
.filterList-checkbox--checked:after {
  background: var(--checkbox-checked-color);
  border-radius: 4px 4px 0 0;
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 4px;
}

.filterList-checkbox--checked:before {
  right: 12px;
  height: 8px;
  margin-top: -2px;
  transform: rotate(-45deg);
}

.filterList-checkbox--checked:after {
  right: 6px;
  height: 12px;
  margin-top: -7px;
  transform: rotate(45deg);
}

.filterList-text {
  color: var(--text-color);
  line-height: 2rem;
  text-transform: uppercase;
}

.filterList-input { display: none; }

/* Media Queries
========================================================================== */
@custom-media --tablet-viewport (min-width: var(--screen-tablet-portrait));

@media(--tablet-viewport) {
  .filterList-item {
    margin-left: 4rem;
    min-width: auto;
  }
}
