/* ==========================================================================
Config
========================================================================== */
@import "../../config";

:root {
  --component-bg: #252525;

  --arrow-bg: #09f;

  --select-border-color: #999;
  --select-bg: #fff;

  --submit-bg: #09f;
  --submit-border-color: #09f;
  --submit-color: #252525;
}

/* Change City
========================================================================== */
.changeCity {
  background-color: var(--component-bg);
  display: block;
  height: calc(100vh - 60px);
  min-width: 36rem;
  overflow: hidden;
  overflow-y: auto;
  padding: 2.5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 74px;
  width: 100%;
  z-index: 2;
}

.changeCity-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.changeCity-group { margin-bottom: 1.6rem; }

.changeCity-selectWrap {
  display: block;
  position: relative;
}

.changeCity-selectWrap:before,
.changeCity-selectWrap:after {
  background: var(--arrow-bg);
  content: '';
  display: inline-block;
  height: 8px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 2px;
}

.changeCity-selectWrap:before {
  right: 16px;
  transform: rotate(-45deg);
}

.changeCity-selectWrap:after {
  right: 11px;
  transform: rotate(45deg);
}

.changeCity-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--select-bg);
  border: none;
  border-left: 4px solid var(--select-border-color);
  border-radius: 4px;
  font-size: 1.4rem;
  height: 50px;
  outline: none;
  padding: 0 10px;
  padding-right: 3rem;
  width: 100%;
}

.changeCity-button {
  background-color: var(--submit-bg);
  border-color: var(--submit-border-color);
  border-radius: 4px;
  color: var(--submit-color);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 1rem 1.6rem;
  text-transform: uppercase;
}

/* Media Queries
========================================================================== */
@custom-media --tablet-viewport (min-width: var(--screen-tablet-portrait));

@media(--tablet-viewport) {
  .changeCity {
    height: auto;
    left: inherit;
    min-width: 41rem;
    right: 1rem;
    width: auto;
  }
}
