// High-level base settings.
$base-font-size: 62.5% !default;
$base-font-family: "Proxima Nova","Trebuchet MS","Proxima Nova Bold",sans-serif,Arial !default;
$base-font-size-px: 13px !default;
$base-line-height: 1.2 !default;
$base-text-color: #fff !default;
$base-link-color: #09f !default;
$base-background-color: #333 !default;
